body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: auto;
}
.logo {
  margin-left: 100px;
}
.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.item-link {
  text-decoration: none;
  margin: 0 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4e5983;
  cursor: pointer;
}
.item-link:hover {
  color: #9a7eff;
}
.authorization {
  height: 59px;
  width: 254px;
  display: flex;
  margin-right: 100px;
}
.login,
.registration {
  display: inline-block;
  height: 100%;
  cursor: pointer;
  width: 160px;
}
.registration {
  height: 59px;
  margin-left: 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #4e5983;
  background: rgba(161, 127, 255, 0.11);
  border-radius: 9px;
  border: none;
}
.registration:hover {
  border: 1px solid #4e5983;
  background-color: #fff;
}
.login {
  height: 59px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #4e5983;
  border: none;
  background: white;
}
.login:hover {
  background: rgba(161, 127, 255, 0.11);
  border-radius: 9px;
}
/* End of header part */

.main-section {
  color: white;
  padding-bottom: 120px;
  border-radius: 17px;
  box-shadow: 0 30px 50px rgba(160, 126, 254, 0.5);
  background-image: url('../img/main-bg-final.png');
  background-size: 100% 100%;
}
.main-title {
  margin: 0;
  padding: 113px 91px 94px 87px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 3.750em;
  line-height: 111.9%;
}
.main-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  margin: 0 0 54px;
}
.calculator {
  display: flex;
  width: 1109px;
  height: 284px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 26px;
  margin: auto;
  color: #4e5983;
}
.give-take {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 78px 68px 75px 107px;
  width: 692px;
  height: 130px;
}
.give-block,
.take-block {
  width: 290px;
  height: 130px;
  border-bottom: 2px solid rgba(84, 86, 89, 0.1);
  margin: 0;
  padding: 0;
}
.calc-arrow {
  display: block;
  margin: 0 60px;
}
.give-main-text,
.take-main-text {
  margin: 0;
  padding-bottom: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  white-space: nowrap;
}
.take-main-text-subtitle {
  margin-left: 15px;
}

.take-main-text-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.5;
}

.line {
  height: 25px;
  width: 1px;
  background-color: rgba(84, 86, 89, 0.1);
  float: left;
  margin-right: 15px;
}

.take-sum-block,
.give-sum-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 290px;
}

.text-sum {
  flex-basis: 100%;
  margin: 0;
  padding-bottom: 18px;
}
.give-money-counter,
.take-money-counter {
  margin: auto 0;
  padding-top: 7px;
  border: none;
  background-color: transparent;
  color: #094067;
  font-family: "Proxima Nova", Corbel , Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  justify-items: center;
  height: 20px;
  max-width: 90px;
  outline: none;
  overflow: hidden;
}

.give-money-counter {
  display: inline-block;
}

.give-money-currency {
  max-width: 120px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.take-money-counter {
  font-family: "Proxima Nova", Corbel ,Arial , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #094067;
}
.money-value-and-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.money-logo-left,
.money-logo-right {
  margin-right: 15px;
  max-width: 24px;
  max-height: 24px;
}
.exchange-button {
  background: linear-gradient(140.59deg, #562ec2 29.59%, #a07efe 73.59%);
  opacity: 0.8;
  border-radius: 9px;
  width: 157px;
  height: 55px;
  border: none;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 0;
  margin: 151px 85px 77px 0;
  cursor: pointer;
}
.exchange-button:hover {
  border: 1px solid #4e5983;
  background: transparent;
  color: #4e5983;
}
/* main-caltulator part end */

.features {
  width: auto;
  display: flex;
  justify-content: space-around;
  margin: 0 133px 0 142px;
  padding-bottom: 118px;
  padding-top: 85px;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 26%;
}

.feature-img {
  display: block;
  width: 45%;
  height: auto;
}

.features-titles {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #4e5983;
  margin: 0;
}
.feature-subtitle {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 166.5%;
  color: #4e5983;
  opacity: 0.7;
}

/* features part end */

.history {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  border: 4px solid #f7f8fd;
  background-color: #fff;
  border-radius: 26px;
  display: flex;
}
.history-text-part {
  width: 400px;
  padding: 102px 0 88px 155px;
}
.history-title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 132.4%;
  color: #160647;
  padding: 0 0 40px 0;
  height: 221px;
}
.history-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 166.5%;
  color: #4e5983;
  opacity: 0.7;
  margin: 0;
}
.history-img {
  display: block;
  padding: 95px 0 117px 0;

  height: 336px;
}

/* end of history part */

.reserve {
  margin: auto;
  width: 1120px;
  padding-top: 142px;
}

.reserve-title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 111.9%;
  text-align: center;
  color: #160647;
  margin: 0;
  height: 76px;
  padding-bottom: 59px;
}

.reserve-values {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.value {
  flex-basis: 25%;
  display: flex;
  padding-bottom: 84px;
  justify-content: left;
}

.privatebank,
.paypal,
.pm-usd,
.qiwi {
  margin-bottom: 0;
}

.value-text-block {
  margin-left: 32px;
}

.value-img-wrapper {
  width: 53px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yandex .value-img-wrapper {
  background-color: rgba(255, 168, 0, 0.1);
}

.ethereum .value-img-wrapper {
  background-color: rgba(83, 108, 195, 0.1);
}

.bitcoin .value-img-wrapper {
  background-color: rgba(255, 187, 54, 0.1);
}

.sberbank .value-img-wrapper {
  background-color: rgba(43, 158, 47, 0.1);
}

.privatebank .value-img-wrapper {
  background-color: rgba(117, 175, 38, 0.1);
}

.paypal .value-img-wrapper {
  background-color: rgba(3, 169, 244, 0.1);
}

.pm-usd .value-img-wrapper {
  background-color: rgba(218, 37, 28, 0.1);
}

.qiwi .value-img-wrapper {
  background-color: rgba(255, 140, 0, 0.1);
}

.value-text,
.value-number {
  margin: 0;
}

.value-text {
  padding-bottom: 3px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #a4aabf;
}

.value-number {
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 155.5%;
  color: #160647;
}

/* reserve part end */

.feedback {
  width: 1118px;
  margin: 160px auto auto;
}

.feedback-cases {
  display: flex;
  justify-content: space-around;
}

.feedback-slide {
  max-width: 488px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  height: 205px;
}

.feedback-title {
  padding-left: 34px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 132.4%;
  color: #160647;
  margin: 0 0 70px;
}
.feedback-text {
  display: block;
  height: 120px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 166%;
  color: #4e5983;
  opacity: 0.7;
}

.feedback-author {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155.5%;
  color: #160647;
}
.feedback-date {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #838ba8;
}

/* feedback part end */

.proposition {
  height: 31.25rem;
  margin: auto;
  opacity: 0.8;
  border-radius: 17px;
  background-image: url('../img/footer-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}

.proposition-text-block {
  padding-left: 33rem;
  padding-top: 5rem;
  width: 467px;
}
.proposition-title {
  font-style: normal;
  font-weight: 500;
  font-size: 2.188rem;
  line-height: 132.4%;
  color: #ffffff;
  margin: 0;
  padding: 60px 0 26px;
}
.proposition-subtitle {
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 166.5%;
  color: #ffffff;
  opacity: 0.7;
  margin: 0 0 49px;
}
.proposition-button-wrapper {
  display: flex;
  justify-content: center;
}
.proposition-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #9f7dfd;
  background: rgba(161, 127, 255, 0.11);
  width: 225px;
  height: 73px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  margin-bottom: 64px;
  cursor: pointer;
}
.proposition-button:hover {
  border: 1px solid #4e5983;
  background: transparent;
}
/* proposition part end */

.footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 140px auto 17px;
}
.footer-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.footer-item-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4e5983;
  text-decoration: none;
  padding: 5px 20px;
}
.footer-item-link:hover {
  color: #9a7eff;
}
.social-link {
  margin-left: 13px;
  margin-right: 13px;
  text-decoration: none;
}
.copyright {
  width: 80%;
  padding: 0;
  margin: 0 0 79px 10%;
  font-size: 14px;
  line-height: 17px;
  color: #838ba8;
}

/* further will be position:fixed design elements */



.history-design-el {
  position: absolute;
  width: 441px;
  height: 241px;
  left: 1121px;
  top: 1690px;
  overflow: hidden;
}

.history-design-el.img {
  overflow: hidden;
}

@media (max-width: 1125px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .footer-logo, .footer-nav {
    margin-bottom: 10px;
  }
  .copyright {
    text-align: center;
  }
  .feedback-title {
    text-align: center;
    margin-bottom: 35px;
  }
  .feedback-cases {
    flex-direction: column;
    align-items: center;
  }
  .feedback-slide {
    margin-bottom: 50px;
  }
  .value {
    flex-basis: 50%;
    justify-content: center;
  }
}
