body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

.wrapper2 {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: auto;
}
.logo {
  margin-left: 100px;
}
.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.item-link {
  text-decoration: none;
  margin: 0 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4e5983;
  cursor: pointer;
}
.authorization {
  height: 59px;
  width: 254px;
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.login,
.registration {
  display: inline-block;
  height: 100%;
  cursor: pointer;
}
.registration {
  width: 157px;
  height: 59px;
  margin-left: 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #4e5983;
  background: rgba(161, 127, 255, 0.11);
  border-radius: 9px;
  border: none;
}
.login {
  width: 80px;
  height: 59px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #4e5983;
  border: none;
  background: white;
}

/* End of header part */

.main-section {
  color: white;
  padding-bottom: 120px;
  background: linear-gradient(140.59deg, #562ec2 29.59%, #a07efe 73.59%);
  border-radius: 17px;
  box-shadow: 0 30px 50px rgba(160, 126, 254, 0.5);
  background-image: url('../img/main-bg-final.png');
  background-size: 100% 100%;
}
.main-title {
  margin: 0;
  padding: 113px 91px 94px 87px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 3.750em;
  line-height: 111.9%;
}
.main-subtitle {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 54px;
}
.calculator {
  display: flex;
  width: 1109px;
  height: 284px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 26px;
  margin: auto;
  color: #4e5983;
}
.give-take {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 78px 68px 75px 107px;
  width: 692px;
  height: 130px;
}
.give-block,
.take-block {
  width: 290px;
  height: 130px;
  border-bottom: 2px solid rgba(84, 86, 89, 0.1);
  margin: 0;
  padding: 0;
}
.calc-arrow {
  display: block;
  margin: 0 60px;
}
.give-main-text,
.take-main-text {
  margin: 0;
  padding-bottom: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  white-space: nowrap;
}
.take-main-text-subtitle {
  margin-left: 15px;
}

.take-main-text-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.5;
}

.line {
  height: 25px;
  width: 1px;
  background-color: rgba(84, 86, 89, 0.1);
  float: left;
  margin-right: 15px;
}

.take-sum-block,
.give-sum-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 290px;
}

.text-sum {
  flex-basis: 100%;
  margin: 0;
  padding-bottom: 18px;
}
.give-money-counter,
.take-money-counter {
  margin: auto 0;
  padding-top: 7px;
  border: none;
  background-color: transparent;
  color: #094067;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  justify-items: center;
  height: 20px;
  max-width: 90px;
  outline: none;
  overflow: hidden;
}

.give-money-counter {
  display: inline-block;
}

.give-money-currency {
  max-width: 120px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.take-money-counter {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #094067;
}
.money-value-and-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.money-logo-left,
.money-logo-right {
  margin-right: 15px;
  max-width: 24px;
  max-height: 24px;
}
.exchange-button {
  background: linear-gradient(140.59deg, #562ec2 29.59%, #a07efe 73.59%);
  opacity: 0.8;
  border-radius: 9px;
  width: 157px;
  height: 55px;
  border: none;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin: 151px 85px 77px 0;
  cursor: pointer;
}

/* main-caltulator part end */

.features {
  margin: 1169px;
  width: auto;
  display: flex;
  justify-content: space-around;
  margin: 0 133px 0 142px;
  padding-bottom: 118px;
  padding-top: 85px;
}
.feature {
  flex-basis: 26%;
}

.feature-img {
  display: block;
  width: 45%;
  height: auto;
}

.features-titles {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #4e5983;
  margin: 0;
}
.feature-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 166.5%;
  color: #4e5983;
  opacity: 0.7;
}

/* features part end */

.history {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  border: 4px solid #f7f8fd;
  background-color: #fff;
  border-radius: 26px;
  display: flex;
}
.history-text-part {
  width: 400px;
  padding: 102px 0 88px 155px;
}
.history-title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 132.4%;
  color: #160647;
  margin: 0;
  height: 221px;
}
.history-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 166.5%;
  color: #4e5983;
  opacity: 0.7;
  margin: 0;
}
.history-img {
  display: block;
  padding: 95px 0 117px 0;

  height: 336px;
}

/* end of history part */

.reserve {
  margin: auto;
  width: 1120px;
  padding-top: 142px;
}

.reserve-title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 111.9%;
  text-align: center;
  color: #160647;
  margin: 0;
  height: 76px;
  padding-bottom: 59px;
}

.reserve-values {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.value {
  flex-basis: 25%;
  display: flex;
  margin-bottom: 84px;
  justify-content: left;
}

.privatebank,
.paypal,
.pm-usd,
.qiwi {
  margin-bottom: 0;
}

.value-text-block {
  margin-left: 32px;
}

.value-img-wrapper {
  width: 52.5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yandex .value-img-wrapper {
  background-color: rgba(255, 168, 0, 0.1);
}

.ethereum .value-img-wrapper {
  background-color: rgba(83, 108, 195, 0.1);
}

.bitcoin .value-img-wrapper {
  background-color: rgba(255, 187, 54, 0.1);
}

.sberbank .value-img-wrapper {
  background-color: rgba(43, 158, 47, 0.1);
}

.privatebank .value-img-wrapper {
  background-color: rgba(117, 175, 38, 0.1);
}

.paypal .value-img-wrapper {
  background-color: rgba(3, 169, 244, 0.1);
}

.pm-usd .value-img-wrapper {
  background-color: rgba(218, 37, 28, 0.1);
}

.qiwi .value-img-wrapper {
  background-color: rgba(255, 140, 0, 0.1);
}

.value-text,
.value-number {
  margin: 0;
}

.value-text {
  padding-bottom: 3px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #a4aabf;
}

.value-number {
  font-style: normal;
  font-weight: normal;
  font-size: 20.5714px;
  line-height: 155.5%;
  color: #160647;
}

/* reserve part end */

.feedback {
  width: 1118px;
  margin: auto;
  margin-top: 160px;
}

.feedback-cases {
  display: flex;
  justify-content: space-around;
}

.feedback-slide {
  max-width: 488px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  height: 205px;
}

.feedback-title {
  padding-left: 34px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 132.4%;
  color: #160647;
  margin-bottom: 115px;
}
.feedback-text {
  display: block;
  height: 120px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 166%;
  color: #4e5983;
  opacity: 0.7;
}

.feedback-author {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155.5%;
  color: #160647;
}
.feedback-date {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #838ba8;
}

/* feedback part end */

.proposition {
  width: 80%;
  height: 500px;
  margin: auto;
  background: linear-gradient(140.59deg, #562ec2 29.59%, #a07efe 73.59%);
  opacity: 0.8;
  border-radius: 17px;
  background-image: url('../img/footer-bg.png');
  background-size: contain; 
  background-repeat: no-repeat;
  display: flex;
}

.proposition-text-block {
  margin: 0;
  padding: 0;
  width: 467px;
  margin-left: 639px;
}
.proposition-title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 132.4%;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 26px;
}
.proposition-subtitle {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 166.5%;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 49px;
}
.proposition-button {
  font-style: normal;
  font-weight: 500;
  font-size: 15.9618px;
  line-height: 19px;
  text-align: center;
  color: #9f7dfd;
  background-color: #fff;
  width: 225px;
  height: 73px;
  border-radius: 10.2611px;
  text-decoration: none;
  border: none;
  margin-bottom: 64px;
  cursor: pointer;
}

/* proposition part end */

.footer {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 17px;
}
.footer-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  list-style: none;
}
.footer-item-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4e5983;
  text-decoration: none;
  padding: 5px 20px;
}
.social-link {
  margin-left: 13px;
  margin-right: 13px;
  text-decoration: none;
}
.copyright {
  width: 80%;
  margin: 0;
  padding: 0;
  margin-bottom: 79px;
  margin-left: 10%;
  font-size: 14px;
  line-height: 17px;
  color: #838ba8;
}

/* further will be position:fixed design elements */



.history-design-el {
  position: absolute;
  width: 441.07px;
  height: 240.75px;
  left: 1120.5px;
  top: 1690.29px;
  overflow: hidden;
}

.history-design-el.img {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}


